body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-inline-start: auto;
    padding-right: auto;

}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #555; /* Borde visible siempre */
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    border-color: #ffcc00;
    background-color: #333;
    color: #ffcc00;
  }
  

header{
    background-color: rgb(72, 139, 139);
    color: rgb(255, 0, 0);
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
display: inline;
margin: 10px;

} 

nav ul li a {
    color: antiquewhite;
    text-decoration-line: none;
}

#about {
padding: 20px;
background: blanchedalmond;
}

#about h2 {
margin-top: 0;
}

.gallery {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.project {
width: 300px;
padding: 10px;
background: 10px;
border: 1px solid saddlebrown;
text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

#contact {
padding: 20px;
}

form{
display: flex;
flex-direction: column;
}

form label {
margin-bottom: 5px;
}

form input, form textarea {
margin-bottom: 10px;
padding: 10px;
font-size: 16px;
}

form input[type="submit"] {
background-color: rgb(0, 255, 204);
color: blueviolet;
border: none;
cursor: pointer;
}

.peliculas-grid{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5%;
}

@media (max-width: 600px) {
nav ul {
font-display: flex;
flex-direction: column;
align-items: center;
}
.gallery {
    flex-direction: column;
    align-items: center;
}
} 

form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}